@import "./disable.css";
@import "./header-footer.css";
body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: "Rubik", sans-serif;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
}

p {
  font-weight: 500;
}

li p {
  font-weight: 300;
}

a {
  text-decoration: none;
}

.back-image-sect .bg-image {
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: url("../images/about/bg-section-image.png");
}
.back-image-sect .bg-image:before {
  background: rgba(66, 69, 72, 0.72);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.back-image-sect .container.theflexes {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.back-image-sect .container.theflexes .logo {
  width: 55%;
  padding-top: 1rem;
}
.back-image-sect .container.theflexes .text-block p {
  font-family: "Alex Brush", cursive;
  color: #FFFFFF;
  font-size: 6.25rem;
  text-align: center;
  padding-bottom: 1rem;
}

.about-section {
  padding: 0.625rem 0;
}
.about-section .photo-wrapper {
  margin-top: 1.5rem;
}
.about-section .contact-info {
  color: #FFFFFF;
}
.about-section .contact-info h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.about-section .contact-info hr {
  width: 30%;
  height: 0.1875rem;
  background: #81D8D0;
  margin-left: 0;
  margin-bottom: 1.375rem;
}
.about-section .contact-info p {
  font-weight: 400;
}

.additional-section {
  background: rgba(129, 216, 208, 0.8705882353);
  padding: 3.75rem 0;
}
.additional-section h4 {
  font-weight: 500;
  margin-bottom: 2.1875rem;
}
.additional-section p {
  font-weight: 300;
  white-space: pre-line;
}
.additional-section ul.extra-text {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 2rem;
}
.additional-section ul.extra-text span {
  font-weight: bold;
}
.additional-section ul.extra-text li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 1rem;
}
.additional-section ul.extra-text li:last-child {
  margin-bottom: 0;
}
.additional-section ul.extra-text li:before {
  content: "-";
  padding-right: 5px;
}
.additional-section .image-end-page {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .back-image-sect .container.theflexes .text-block p {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 450px) {
  .about-section {
    padding: 2.8125rem 0;
  }
  .back-image-sect .container.theflexes .text-block p {
    font-size: 3.125rem;
  }
}
@media only screen and (max-width: 440px) {
  .about-section {
    padding: 2.8125rem 0;
  }
  .back-image-sect .container.theflexes .text-block p {
    font-size: 3.125rem;
  }
}
@media only screen and (max-width: 376px) {
  .back-image-sect .container.theflexes .text-block p {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=about-me.css.map */
