@import "./disable.css";
@import "./variables.scss";
@import "./header-footer.css";

// Back Image Section
.back-image-sect {
  .bg-image {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/dtntxfdf6/image/upload/f_auto,q_auto/v1738364384/bg-section-image_pczvv9.png");

    &:before {
      background: $overlay-color;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .container.theflexes {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    .logo {
      width: 55%;
      padding-top: 1rem;
    }

    .text-block {
      p {
        font-family: $font-family-secondary;
        color: $white-color;
        font-size: 6.25rem; // 100px
        text-align: center;
        padding-bottom: 1rem;
      }
    }
  }
}

// About Section
.about-section {
  padding: 0.625rem 0; // 10px 0

  .photo-wrapper {
    margin-top: 1.5rem; // 24px
  }

  .contact-info {
    color: $white-color;

    h4 {
      font-family: $font-family-primary;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.75rem; // 12px
    }

    hr {
      width: 30%;
      height: 0.1875rem; // 3px
      background: $accent-color;
      margin-left: 0;
      margin-bottom: 1.375rem; // 22px
    }

    p {
      font-weight: 400;
    }
  }
}

// Additional Section
.additional-section {
  background: $additional-section-bg;
  padding: 3.75rem 0; // 60px 0

  h4 {
    font-weight: 500;
    margin-bottom: 2.1875rem; // 35px
  }

  p {
    font-weight: 300;
    white-space: pre-line;
  }

  ul.extra-text {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 2rem;

    span{
      font-weight: bold;
    }
    li {
      padding-left: 1em;
      text-indent: -1em;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: "-";
        padding-right: 5px;
      }
    }
  }


  .image-end-page {
    display: flex;
    justify-content: center;
  }
}

// Media Queries
@media only screen and (max-width: 768px) {
  .back-image-sect .container.theflexes .text-block p {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 450px) {
  .about-section {
    padding: 2.8125rem 0; // 45px 0
  }

  .back-image-sect .container.theflexes .text-block p {
    font-size: 3.125rem; // 50px
  }
}

@media only screen and (max-width: 440px) {
  .about-section {
    padding: 2.8125rem 0; // 45px 0
  }

  .back-image-sect .container.theflexes .text-block p {
    font-size: 3.125rem; // 50px
  }
}

@media only screen and (max-width: 376px) {
  .back-image-sect .container.theflexes .text-block p {
    font-size: 2.5rem; // 40px
  }
}

@media only screen and (max-width: 360px) {
  // Styles for screen widths up to 360px
}

@media only screen and (max-width: 320px) {
  // Styles for screen widths up to 320px
}
