@media only screen and (max-width: 1024px) {
  .header {
    .header_container {
      .burger-logo-elements {
        .logoIcon.openedMenu {
          left: 10%;
        }
      }

      .burger-container-wrapper {
        .nav-content-container {
          top: 105px;
        }

        &.openedMenu {
        }
      }
    }
  }
  .CarouselSection .owl-carousel {
    .slide .rightSlidePart .buyButton .circle {
      left: 43%;
      top: 43%;
    }

    .owl-dots {
      left: -15%;
    }
  }
  .ItemsInStock {
    #pills-tabContent .product-cards-cont .product-card {
      .product-overlay {
        padding: 18px 22px !important;
        top: 50% !important;
        height: 50% !important;

        .product-heading {
          margin-bottom: 10px !important;
        }
      }

      .product-image {
        width: 280px !important;
      }
    }

    .container ul li.nav-item {
      margin-right: 50px;
    }
  }

}


@media only screen and (max-width: 768px) {
  .header {
    .header_container {
      .burger-logo-elements {
        .logoIcon.openedMenu {
          left: 13%;
        }
      }
    }
  }

  .CarouselSection .owl-carousel {


    .slide {
      padding-top: 43px;
      padding-bottom: 43px;
      overflow: hidden;


      .leftSlidePart .slideHeading {
        p {
          margin-bottom: 93px;
        }

        h3 {
          margin-bottom: 42px;
        }
      }


      .rightSlidePart {
        .modelImage {
          height: 100%;
        }

        .buyButton .circle {
          left: 38%;
          width: 204px;
          height: 204px;
          top: 43%;
        }
      }
    }

    .owl-dots {
      left: -21% !important;
      bottom: 56% !important;
    }
  }

  .ItemsInStock .container {


    ul.filters-mobile {

      li.nav-item {
        margin-right: 40px;
      }
    }
  }

}

@media only screen and (max-width: 426px) {
  .header {
    padding: 12px 22px 12px 22px;

    .header_container .burger-logo-elements {
      .burgerIcon {
        margin-right: 20px;
      }

      .logoIcon {
        width: 130px;
        padding-bottom: 20px;

        &.openedMenu {
          top: 5%;
          left: 24%;
        }
      }
    }
  }
  .CarouselSection .owl-carousel {
    .slide {
      padding-bottom: 83px;
    }

    .leftSlidePart {
      width: 50%;

      h3 {
        margin-bottom: 17px !important;
      }

      p {
        margin-bottom: 25px !important;
      }

      .moreBtn {
        margin-bottom: 47px;
        padding: 12px 35px !important;

      }
    }

    .rightSlidePart {
      width: 50%;

      .gradientBlock {
        width: 34px !important;
        height: 54px !important;
      }

      .modelImage {
        height: 219px !important;
        margin-top: 29px;
        width: 207px;
      }

      .buyButton {
        display: none;
      }
    }

    .owl-dots {
      transform: none;
      left: 16% !important;
      bottom: 12% !important;

      button {
        margin: 0 29px 0 !important;
      }
    }
  }
  .ItemsInStock .container {
    .filters-mobile {
      display: block;
      padding-bottom: 18px;

      img {
        transition: 0.3s linear;
      }


      &.show-mobile {
        img {
          transform: rotateZ(180deg);
        }
      }

      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 33px;
        width: 290px;
        position: relative;
        border: none;
        background: none;
        color: #ffffff;
        text-transform: uppercase;

        &.show-mobile {
          background: #527471;
          border-radius: 10px 10px 0 0;
        }

        h5 {
          margin-right: 20px;
          margin-bottom: 0;
          font-weight: 300;
        }
      }
    }

    ul.filters-mobile-cont {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 290px;
      display: none;
      border-radius: 0 0 10px 10px;
      position: absolute;
      bottom: -320px;
      left: 15px;
      z-index: 10;
      padding-left: 10px;
      padding-right: 31px;

      li.nav-item {
        margin: 0;
        padding: 10px 0;

        &.active-mobile {

        }

        button {
          border-bottom: none !important;
          margin: 0;
          padding: 0;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 16px;
        }
      }

      &.show-mobile {
        display: flex !important;
        background: #363333;
      }
    }

    #pills-tabContent .product-cards-cont .product-card {
      margin-bottom: 47px;


      .product-image {
        width: 168px !important;
      }

      .product-overlay {
        top: 0 !important;
        height: 100% !important;
        padding: 5px !important;

        .divider {
          border-left: none !important;
          border-top: 1px solid #FFFFFF;
        }

        .sizes {
          padding-left: 0 !important;

          h4 {
            margin-top: 10px;
            margin-bottom: 10px !important;
          }
        }

        .product-heading {
          margin-top: 20px;

          h4 {
            padding-left: 17px;
          }

          p {
            display: none;
          }
        }
      }
    }
  }


  footer .container .footer-content .SocialMedias .socialsList {
    padding: 0;

    li {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}