// Variables
$font-family: 'Rubik', sans-serif;
$base-font-size: 16px;
$white-color: #FFFFFF;
$background-color: #101010;
$dark-gray-color: #363333;
$button-hover-background: #527471;
$accent-color: #81D8D0;
$overlay-color: rgba(16, 16, 16, 0.76); // #101010C2

@media only screen and (max-width: 2570px) {
  .CarouselSection {
    .owl-carousel {
      .owl-dots {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        bottom: 54%; // Only the last 'bottom' value is used
        left: -4%;
      }
    }
  }
}

@media only screen and (max-width: 1356px) {
  .CarouselSection {
    .owl-carousel {
      .owl-dots {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        left: -9% !important;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .CarouselSection {
    .owl-carousel {
      .owl-dots {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        bottom: 54%;
        left: -11%;
      }
    }
  }
}

@media only screen and (max-width: 1230px) {
  .CarouselSection {
    .owl-carousel {
      .owl-dots {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        left: -13% !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .CarouselSection {
    .owl-carousel {
      .slide {
        .rightSlidePart {
          .buyButton {
            .circle {
              left: 43%;
              top: 43%;
            }
          }
        }
      }
      .owl-dots {
        left: -15%;
      }
    }
  }
  .ItemsInStock {
    #pills-tabContent {
      .product-cards-cont {
        .product-card {
          .product-overlay {
            padding: 1.125rem 1.375rem !important; // 18px 22px
            top: 50% !important;
            height: 50% !important;

            .product-heading {
              margin-bottom: 0.625rem !important; // 10px
            }
          }
          .product-image {
            max-width: 17.5rem !important; // 280px
            width: 100%;
          }
        }
      }
    }
    .container {
      ul {
        li.nav-item {
          margin-right: 3.125rem; // 50px
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .CarouselSection {
    .owl-carousel {
      .slide {
        padding: 2.6875rem 0; // 43px
        overflow: hidden;

        .leftSlidePart {
          .slideHeading {
            h3 {
              margin-bottom: 2.625rem; // 42px
            }
            p {
              margin-bottom: 5.8125rem; // 93px
            }
          }
        }

        .rightSlidePart {
          .modelImage {
            height: 100%;
          }
          .buyButton {
            .circle {
              left: 38%;
              top: 43%;
              width: 12.75rem; // 204px
              height: 12.75rem; // 204px
            }
          }
        }
      }
      .owl-dots {
        left: -21% !important;
        bottom: 56% !important;
      }
    }
  }
  .ItemsInStock {
    .container {
      ul.filters-mobile {
        li.nav-item {
          margin-right: 2.5rem; // 40px
        }
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .CarouselSection {
    margin-bottom: 1.375rem; // 22px

    .owl-carousel {
      .slide {
        padding-bottom: 5.1875rem; // 83px

        .leftSlidePart {
          width: 50%;

          h3 {
            margin-bottom: 1.0625rem !important; // 17px
          }
          p {
            margin-bottom: 1.5625rem !important; // 25px
          }
          .moreBtn {
            margin-bottom: 2.9375rem; // 47px
            padding: 0.75rem 2.1875rem !important; // 12px 35px
          }
        }

        .rightSlidePart {
          width: 50%;

          .gradientBlock {
            width: 2.125rem !important; // 34px
            height: 3.375rem !important; // 54px
          }

          .modelImage {
            height: 13.6875rem !important; // 219px
            margin-top: 1.8125rem; // 29px
            width: 12.9375rem; // 207px
          }

          .buyButton {
            display: none;
          }
        }
      }

      .owl-dots {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        left: 16% !important;
        bottom: 12% !important;

        button {
          margin: 0 1.8125rem 0 !important; // 29px
        }
      }
    }
  }

  .ItemsInStock {
    .container {
      position: relative;

      .filters-mobile {
        display: block;
        position: relative;

        img {
          transition: 0.3s linear;
        }

        &.show-mobile {
          img {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }

        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0.625rem 0.5rem; // 10px 8px
          width: 18.125rem; // 290px
          position: relative;
          border: none;
          background: none;
          color: $white-color;
          text-transform: uppercase;

          &.show-mobile {
            background: $button-hover-background;
            border-radius: 0.625rem 0.625rem 0 0; // 10px
          }

          span {
            margin-right: 1.25rem; // 20px
            margin-bottom: 0;
            font-weight: 300;
            font-size: 1.25rem; // 20px
          }
        }
      }

      ul.filters-mobile-cont {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 18.125rem; // 290px
        display: none;
        border-radius: 0 0 0.625rem 0.625rem; // 10px
        z-index: 10;
        padding-left: 0.625rem; // 10px
        padding-right: 1.9375rem; // 31px
        margin-bottom: 0 !important;

        li.nav-item {
          margin: 0;
          padding: 0.625rem 0; // 10px

          button {
            border-bottom: none !important;
            margin: 0;
            padding: 0;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1rem; // 16px
          }
        }

        &.show-mobile {
          display: flex !important;
          background: $dark-gray-color;
        }
      }

      #pills-tabContent {
        .product-cards-cont {
          .product-card {
            margin-bottom: 2.9375rem; // 47px
            overflow: hidden;
            height: 16.25rem !important; // 260px

            .product-image {
              max-width: 10.4375rem !important; // 167px
              height: 16.25rem !important; // 260px
              width: 100% !important;
            }

            .product-overlay {
              top: 45% !important;
              height: 56% !important;
              padding: 0.3125rem !important; // 5px
              opacity: 1 !important;

              .divider {
                border-left: 0.0625rem solid $white-color; // 1px
              }

              .product-heading {
                margin-top: 0.9375rem; // 15px

                h4 {
                  padding-left: 0.625rem !important; // 10px
                  font-size: 0.8125rem; // 13px
                }

                p {
                  display: none;
                }
              }

              .right-side {
                display: flex;
                align-items: center;

                .price {
                  p {
                    font-size: 0.625rem; // 10px
                  }
                }
              }

              .sizes {
                padding-left: 0 !important;

                h4 {
                  margin-top: 0;
                  margin-bottom: 0.375rem !important; // 6px
                  font-size: 0.5rem !important; // 8px
                }

                ul {
                  li {
                    font-size: 0.5625rem; // 9px
                    margin-right: 0.3125rem !important; // 5px
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .CarouselSection {
    margin-bottom: 0 !important;

    .owl-carousel {
      .rightSlidePart {
        .modelImage {
          width: 11.3125rem !important; // 181px
        }
      }
      .owl-dots {
        left: 12% !important;

        button {
          margin: 0 1.4375rem 0 !important; // 23px
        }
      }
    }
  }
  .ItemsInStock {
    .container {
      #pills-tabContent {
        .product-cards-cont {
          .product-card {
            .product-image {
              max-width: 8.9375rem !important; // 143px
            }
            .product-overlay {
              top: 36% !important;
              height: 64% !important;

              .right-side {
                p {
                  font-size: 0.4375rem !important; // 7px
                }
              }

              .product-heading {
                margin-top: 0;
                margin-bottom: 0;

                h4 {
                  margin-top: 0.1875rem !important; // 3px
                  margin-bottom: 0.125rem !important; // 2px
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 361px) {
  .ItemsInStock {
    .container {
      #pills-tabContent {
        .product-cards-cont {
          .product-card {
            .product-image {
              width: 8.4375rem !important; // 135px
            }
          }
        }
      }
    }
  }
}
