@media only screen and (max-width: 1024px) {
  .header {
    .header_container {
      .burger-logo-elements {
        .logoIcon.openedMenu {
          left: 10%;
        }
      }

      .burger-container-wrapper {
        .nav-content-container {
          top: 105px;
        }

        &.openedMenu {
        }
      }
    }
  }
  .CarouselSection .owl-carousel {
    .slide .rightSlidePart .buyButton .circle {
      left: 43%;
      top: 43%;
    }

    .owl-dots {
      left: -15%;
    }
  }
  .ItemsInStock {
    #pills-tabContent .product-cards-cont .product-card {
      .product-overlay {
        padding: 18px 22px !important;
        top: 50% !important;
        height: 50% !important;

        .product-heading {
          margin-bottom: 10px !important;
        }
      }

      .product-image {
        width: 280px !important;
      }
    }

    .container ul li.nav-item {
      margin-right: 50px;
    }
  }

}


@media only screen and (max-width: 768px) {
  .header {
    .header_container {
      .burger-logo-elements {
        .logoIcon.openedMenu {
          left: 13%;
        }
      }
    }
  }

  .CarouselSection .owl-carousel {


    .slide {
      padding-top: 43px;
      padding-bottom: 43px;
      overflow: hidden;


      .leftSlidePart .slideHeading {
        p {
          margin-bottom: 93px;
        }

        h3 {
          margin-bottom: 42px;
        }
      }


      .rightSlidePart {
        .modelImage {
          height: 100%;
        }

        .buyButton .circle {
          left: 38%;
          width: 204px;
          height: 204px;
          top: 43%;
        }
      }
    }

    .owl-dots {
      left: -21% !important;
      bottom: 56% !important;
    }
  }

  .ItemsInStock .container {


    ul.filters-mobile {

      li.nav-item {
        margin-right: 40px;
      }
    }
  }

}

@media only screen and (max-width: 426px) {

  .header {
    padding: 12px 22px 12px 22px;


    .header_container {


      .burger-logo-elements {

        .burgerIcon {
          margin-right: 20px;
        }

        .logoIcon {
          width: 130px;
          padding-bottom: 20px;

          &.openedMenu {
            top: 5%;
            left: 24%;

          }
        }
      }


      .burger-container-wrapper {
        background: #0D0C0C;
        overflow-x: hidden;
        overflow-y: scroll;

        .mobile-header-opened {
          display: block;
          padding: 12px 22px 12px 22px;
          background-color: rgba(38, 34, 34, 0.73);
          width: 100%;
          transition: all 0.4s linear;

          .burger-logo-elements-mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            z-index: 3;

            .burgerIconMobile {
              margin-right: 22px;

              .TopLine {
                width: 24px;
                height: 3px;
                border-radius: 10px;
                background-color: white;
                margin-bottom: 5px;
                cursor: pointer;
                transition: 0.5s linear;
                transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
                transform-style: preserve-3d;
              }

              .MidLine {
                display: none;
              }

              .BotLine {
                width: 24px;
                height: 3px;
                border-radius: 10px;
                background-color: white;
                margin-bottom: 5px;
                cursor: pointer;
                transition: 0.5s linear;
                transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
                transform-style: preserve-3d;
              }
            }

            .logoIcon {
              width: 130px;
              padding-bottom: 20px;
              height: auto;
              display: flex;
              align-items: flex-end;
            }
          }

          .language-switcher-mobile {
            .langbtn {

            }
          }
        }


        .nav-content-container {
          padding: 0 6px 0;
          position: relative !important;
          left: 0 !important;

          .nav-items {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000000;

            .mobile-menu-dress-pic {
              display: block;

              img {
                width: 126px;
              }
            }
          }
        }
      }
    }
  }
  .CarouselSection .owl-carousel {
    .slide {
      padding-bottom: 83px;
    }

    .leftSlidePart {
      width: 50%;

      h3 {
        margin-bottom: 17px !important;
      }

      p {
        margin-bottom: 25px !important;
      }

      .moreBtn {
        margin-bottom: 47px;
        padding: 12px 35px !important;

      }
    }

    .rightSlidePart {
      width: 50%;

      .gradientBlock {
        width: 34px !important;
        height: 54px !important;
      }

      .modelImage {
        height: 219px !important;
        margin-top: 29px;
        width: 207px;
      }

      .buyButton {
        display: none;
      }
    }

    .owl-dots {
      transform: none;
      left: 16% !important;
      bottom: 12% !important;

      button {
        margin: 0 29px 0 !important;
      }
    }
  }
  .ItemsInStock .container {
    .filters-mobile {
      display: block;
      padding-bottom: 18px;

      img {
        transition: 0.3s linear;
      }


      &.show-mobile {
        img {
          transform: rotateZ(180deg);
        }
      }

      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 33px;
        width: 290px;
        position: relative;
        border: none;
        background: none;
        color: #ffffff;
        text-transform: uppercase;

        &.show-mobile {
          background: #527471;
          border-radius: 10px 10px 0 0;
        }

        h5 {
          margin-right: 20px;
          margin-bottom: 0;
          font-weight: 300;
        }
      }
    }

    ul.filters-mobile-cont {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 290px;
      display: none;
      border-radius: 0 0 10px 10px;
      position: absolute;
      bottom: -320px;
      left: 15px;
      z-index: 10;
      padding-left: 10px;
      padding-right: 31px;

      li.nav-item {
        margin: 0;
        padding: 10px 0;

        &.active-mobile {

        }

        button {
          border-bottom: none !important;
          margin: 0;
          padding: 0;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 16px;
        }
      }

      &.show-mobile {
        display: flex !important;
        background: #363333;
      }
    }

    #pills-tabContent .product-cards-cont .product-card {
      margin-bottom: 47px;


      .product-image {
        width: 168px !important;
      }

      .product-overlay {
        top: 45% !important;
        height: 55% !important;
        padding: 5px !important;
        opacity: 1 !important;


        .divider {
          border-left: 1px solid #FFFFFF;
        }

        .product-heading {
          h4 {
            padding-left: 10px !important;
            font-size: 13px;
          }
        }

        .right-side {
          display: flex;
          align-items: center;

          .price {


            p {
              font-size: 10px;
            }
          }
        }


        .sizes {
          padding-left: 0 !important;

          h4 {
            margin-top: 0;
            margin-bottom: 6px !important;
            font-size: 8px !important;
          }

          ul {
            li {
              font-size: 9px;
              margin-right: 5px !important;
            }
          }
        }

        .product-heading {
          margin-top: 15px;

          h4 {
            padding-left: 17px;
          }

          p {
            display: none;
          }
        }
      }
    }
  }


  footer .container .footer-content .SocialMedias .socialsList {
    padding: 0;

    li {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 376px) {
  .header .header_container .burger-container-wrapper .nav-content-container {
    left: 47px !important;
  }
  .CarouselSection {
    margin-bottom: 0 !important;

    .owl-carousel .rightSlidePart .modelImage {
      width: 181px !important;
    }
  }
  .CarouselSection .owl-carousel .owl-dots {
    left: 12% !important;

    button {
      margin: 0 23px 0 !important;
    }
  }

  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-image {
    width: 143px !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay {
    top: 36% !important;
    height: 64% !important;

    .right-side p {
      font-size: 7px !important;
    }

    .product-heading {
      margin-top: 0;
      margin-bottom: 0;

      h4 {
        margin-top: 3px !important;
        margin-bottom: 2px !important;
      }
    }
  }

  footer .container .footer-content {
    .logoIcon {
      width: 220px;
    }

    .SocialMedias .socialsList li {
      width: 43px;
      height: 43px;
      margin-right: 15px;
    }
  }
}

@media only screen and (max-width: 361px) {
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-image {
    width: 135px !important;
  }
}

@media only screen and (max-width: 321px) {

}