@media only screen and (max-width: 1024px) {
  .header .header_container .burger-logo-elements .logoIcon.openedMenu {
    left: 10%; }
  .header .header_container .burger-container-wrapper .nav-content-container {
    top: 105px; }

  .CarouselSection .owl-carousel .slide .rightSlidePart .buyButton .circle {
    left: 43%;
    top: 43%; }
  .CarouselSection .owl-carousel .owl-dots {
    left: -15%; }

  .ItemsInStock #pills-tabContent .product-cards-cont .product-card .product-overlay {
    padding: 18px 22px !important;
    top: 50% !important;
    height: 50% !important; }
    .ItemsInStock #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading {
      margin-bottom: 10px !important; }
  .ItemsInStock #pills-tabContent .product-cards-cont .product-card .product-image {
    width: 280px !important; }
  .ItemsInStock .container ul li.nav-item {
    margin-right: 50px; } }
@media only screen and (max-width: 768px) {
  .header .header_container .burger-logo-elements .logoIcon.openedMenu {
    left: 13%; }

  .CarouselSection .owl-carousel .slide {
    padding-top: 43px;
    padding-bottom: 43px;
    overflow: hidden; }
    .CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading p {
      margin-bottom: 93px; }
    .CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading h3 {
      margin-bottom: 42px; }
    .CarouselSection .owl-carousel .slide .rightSlidePart .modelImage {
      height: 100%; }
    .CarouselSection .owl-carousel .slide .rightSlidePart .buyButton .circle {
      left: 38%;
      width: 204px;
      height: 204px;
      top: 43%; }
  .CarouselSection .owl-carousel .owl-dots {
    left: -21% !important;
    bottom: 56% !important; }

  .ItemsInStock .container ul.filters-mobile li.nav-item {
    margin-right: 40px; } }
@media only screen and (max-width: 426px) {
  .header {
    padding: 12px 22px 12px 22px; }
    .header .header_container .burger-logo-elements .burgerIcon {
      margin-right: 20px; }
    .header .header_container .burger-logo-elements .logoIcon {
      width: 130px;
      padding-bottom: 20px; }
      .header .header_container .burger-logo-elements .logoIcon.openedMenu {
        top: 5%;
        left: 24%; }

  .CarouselSection .owl-carousel .slide {
    padding-bottom: 83px; }
  .CarouselSection .owl-carousel .leftSlidePart {
    width: 50%; }
    .CarouselSection .owl-carousel .leftSlidePart h3 {
      margin-bottom: 17px !important; }
    .CarouselSection .owl-carousel .leftSlidePart p {
      margin-bottom: 25px !important; }
    .CarouselSection .owl-carousel .leftSlidePart .moreBtn {
      margin-bottom: 47px;
      padding: 12px 35px !important; }
  .CarouselSection .owl-carousel .rightSlidePart {
    width: 50%; }
    .CarouselSection .owl-carousel .rightSlidePart .gradientBlock {
      width: 34px !important;
      height: 54px !important; }
    .CarouselSection .owl-carousel .rightSlidePart .modelImage {
      height: 219px !important;
      margin-top: 29px;
      width: 207px; }
    .CarouselSection .owl-carousel .rightSlidePart .buyButton {
      display: none; }
  .CarouselSection .owl-carousel .owl-dots {
    transform: none;
    left: 16% !important;
    bottom: 12% !important; }
    .CarouselSection .owl-carousel .owl-dots button {
      margin: 0 29px 0 !important; }

  .ItemsInStock .container .filters-mobile {
    display: block;
    padding-bottom: 18px; }
    .ItemsInStock .container .filters-mobile img {
      transition: 0.3s linear; }
    .ItemsInStock .container .filters-mobile.show-mobile img {
      transform: rotateZ(180deg); }
    .ItemsInStock .container .filters-mobile button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 33px;
      width: 290px;
      position: relative;
      border: none;
      background: none;
      color: #ffffff;
      text-transform: uppercase; }
      .ItemsInStock .container .filters-mobile button.show-mobile {
        background: #527471;
        border-radius: 10px 10px 0 0; }
      .ItemsInStock .container .filters-mobile button h5 {
        margin-right: 20px;
        margin-bottom: 0;
        font-weight: 300; }
  .ItemsInStock .container ul.filters-mobile-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 290px;
    display: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: -320px;
    left: 15px;
    z-index: 10;
    padding-left: 10px;
    padding-right: 31px; }
    .ItemsInStock .container ul.filters-mobile-cont li.nav-item {
      margin: 0;
      padding: 10px 0; }
      .ItemsInStock .container ul.filters-mobile-cont li.nav-item button {
        border-bottom: none !important;
        margin: 0;
        padding: 0;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 16px; }
    .ItemsInStock .container ul.filters-mobile-cont.show-mobile {
      display: flex !important;
      background: #363333; }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card {
    margin-bottom: 47px; }
    .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-image {
      width: 168px !important; }
    .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay {
      top: 0 !important;
      height: 100% !important;
      padding: 5px !important; }
      .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .divider {
        border-left: none !important;
        border-top: 1px solid #FFFFFF; }
      .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .sizes {
        padding-left: 0 !important; }
        .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .sizes h4 {
          margin-top: 10px;
          margin-bottom: 10px !important; }
      .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading {
        margin-top: 20px; }
        .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading h4 {
          padding-left: 17px; }
        .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading p {
          display: none; }

  footer .container .footer-content .SocialMedias .socialsList {
    padding: 0; }
    footer .container .footer-content .SocialMedias .socialsList li {
      margin-right: 20px; } }

/*# sourceMappingURL=media-query.css.map */
