@import "disable.css";
@import "./variables.scss";
@import "./header-footer.css";

.invalid-feedback {
  font-size: 0.9rem;
  color: #dc3545;
}

.forms-container {
  margin-top: 3.9375rem; // 63px
  background: $form-background-color;
  border: 0.0625rem solid $border-color-order; // 1px
  padding: 3.25rem 12.125rem; // 52px 194px
  margin-bottom: 19.75rem; // 316px

  .forms-heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: 300;
      font-size: 2.5rem; // 40px
      text-transform: uppercase;
      color: $heading-color;
      margin-bottom: 2.125rem; // 34px
    }

    p {
      font-weight: 300;
      font-size: 1.6875rem; // 27px
      text-align: center;
      color: $text-color;
      margin-bottom: 4.125rem; // 66px
    }
  }

  .contactForm {
    .form-group {
      input {
        background: $input-background;
        border: 0.0625rem solid $white-color; // 1px
        border-radius: 0;
        padding: 1.75rem 1rem; // 28px 16px
        font-size: 1.4375rem; // 23px
        font-family: $font-family-primary;
        font-weight: 300;
        margin-bottom: 1.375rem; // 22px
        color: $placeholder-color;

        &::placeholder {
          color: $placeholder-color !important;
        }
      }

      button {
        border: 0.0625rem solid $accent-border-color; // 1px
        padding: 1.625rem 5.875rem; // 26px 94px
        text-transform: uppercase;
        background: $accent-background-color !important;
        font-family: $font-family-primary;
        font-weight: 300;
        font-size: 1.625rem; // 26px
        transition: 0.3s linear;
        color: $button-text-color;
        border-radius: 0;
        width: 100%;
        margin-top: 2.125rem; // 34px
        line-height: 2%;

        &:hover {
          border: 0.0625rem solid $white-color; // 1px
          background: transparent !important;
        }
      }
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

// Media Queries
@media only screen and (max-width: 1024px) {
  // Add styles for screen widths up to 1024px if needed
}

@media only screen and (max-width: 992px) {
  // Add styles for screen widths up to 992px if needed
}

@media only screen and (max-width: 768px) {
  // Extra media query header.html for 768px as requested
  // Add styles for screen widths up to 768px if needed
}

@media only screen and (max-width: 440px) {
  .forms-container {
    background: transparent;
    border: 0;
    padding: 3.25rem 1.375rem; // 52px 22px
    margin-bottom: 7.25rem; // 116px

    .contactForm {
      .form-group {
        input {
          &::placeholder {
            color: $placeholder-color !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  // Add styles for screen widths up to 376px if needed
}

@media only screen and (max-width: 361px) {
  // Add styles for screen widths up to 361px if needed
}

@media only screen and (max-width: 320px) {
  // Add styles for screen widths up to 320px if needed
}
