@import url(media-query.css);
body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: 'Alex Brush', cursive; }

h3 {
  font-weight: 600; }

p {
  font-weight: 500; }

li p {
  font-weight: 300; }

h4 {
  font-weight: 400; }

.header {
  padding: 12px 52px 12px 52px;
  background-color: rgba(38, 34, 34, 0.73);
  width: 100%;
  transition: all 0.4s linear; }
  .header.sticky-nav {
    position: fixed;
    top: 0;
    z-index: 10; }
  .header .burger-logo-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 46; }
    .header .burger-logo-elements .burgerIcon {
      margin-right: 46px; }
      .header .burger-logo-elements .burgerIcon.openedMenu {
        position: fixed;
        z-index: 4;
        top: 9%; }
      .header .burger-logo-elements .burgerIcon .TopLine, .header .burger-logo-elements .burgerIcon .BotLine, .header .burger-logo-elements .burgerIcon .MidLine {
        width: 24px;
        height: 3px;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 5px;
        cursor: pointer;
        transition: 0.5s linear; }
      .header .burger-logo-elements .burgerIcon .TopLine.openedMenu {
        transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
        transform-style: preserve-3d; }
      .header .burger-logo-elements .burgerIcon .BotLine.openedMenu {
        transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
        transform-style: preserve-3d; }
      .header .burger-logo-elements .burgerIcon .MidLine {
        width: 13px; }
        .header .burger-logo-elements .burgerIcon .MidLine.openedMenu {
          display: none; }
    .header .burger-logo-elements .logoIcon {
      width: 200px;
      height: auto;
      display: flex;
      align-items: flex-end;
      padding-bottom: 26px; }
      .header .burger-logo-elements .logoIcon.openedMenu {
        position: fixed;
        z-index: 4;
        left: 7%;
        top: 3%; }
      .header .burger-logo-elements .logoIcon a {
        max-width: 100%;
        height: 100%; }
        .header .burger-logo-elements .logoIcon a img {
          max-width: 100%;
          height: 100%; }
  .header .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .header_container .burger-container-wrapper {
      position: fixed;
      display: none;
      height: 100%;
      max-width: 450px;
      z-index: 12;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #050505E8; }
      .header .header_container .burger-container-wrapper .mobile-header-opened {
        display: none; }
      .header .header_container .burger-container-wrapper .nav-content-container {
        position: absolute;
        list-style-type: none;
        top: 124px;
        left: 61px; }
        .header .header_container .burger-container-wrapper .nav-content-container .nav-items {
          margin-bottom: 25px;
          cursor: pointer; }
          .header .header_container .burger-container-wrapper .nav-content-container .nav-items .mobile-menu-dress-pic {
            display: none; }
          .header .header_container .burger-container-wrapper .nav-content-container .nav-items a {
            font-size: 34px;
            color: #F6FCFB;
            animation: ease-out 300ms; }
            .header .header_container .burger-container-wrapper .nav-content-container .nav-items a:hover {
              color: #81d8d0;
              text-decoration: none; }
      .header .header_container .burger-container-wrapper.openedMenu {
        display: block; }
    .header .header_container .language-switcher .langbtn {
      background-color: transparent;
      color: white;
      border: none;
      font-size: 25px;
      position: relative;
      transition: 0.6s ease-in-out; }
      .header .header_container .language-switcher .langbtn:hover {
        color: #81D8D0DE; }
    .header .header_container .language-switcher .sub-menu {
      list-style-type: none;
      display: none;
      flex-direction: column;
      padding-left: 0;
      position: absolute;
      right: 30px;
      width: 100px;
      background: rgba(151, 145, 145, 0.06);
      border-radius: 5px;
      z-index: 5; }
      .header .header_container .language-switcher .sub-menu.show {
        display: flex; }
      .header .header_container .language-switcher .sub-menu li {
        font-size: 23px;
        text-align: center;
        width: 100%;
        transition: 0.5s linear;
        color: white; }
        .header .header_container .language-switcher .sub-menu li:hover {
          background: #81D8D094; }
        .header .header_container .language-switcher .sub-menu li.active {
          background: #81D8D094; }

footer {
  border-top: 1px solid #FFFFFF;
  margin-bottom: 94px; }
  footer .container {
    padding-top: 19px; }
    footer .container .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      footer .container .footer-content .logoIcon {
        width: 340px;
        height: auto;
        margin-bottom: 58px; }
      footer .container .footer-content .SocialMedias .socialsList {
        list-style-type: none; }
        footer .container .footer-content .SocialMedias .socialsList li {
          margin-right: 60px;
          height: 53px;
          width: 53px;
          transition: 0.3s linear; }
          footer .container .footer-content .SocialMedias .socialsList li:hover {
            transform: translateY(-5px); }

@media only screen and (max-width: 1024px) {
  .header .header_container .burger-logo-elements .logoIcon.openedMenu {
    left: 10%; }
  .header .header_container .burger-container-wrapper .nav-content-container {
    top: 105px; } }
@media only screen and (max-width: 768px) {
  .header .header_container .burger-logo-elements .logoIcon.openedMenu {
    left: 13%; } }
@media only screen and (max-width: 426px) {
  .header {
    padding: 12px 22px 12px 22px; }
    .header .header_container .burger-logo-elements .burgerIcon {
      margin-right: 20px; }
    .header .header_container .burger-logo-elements .logoIcon {
      width: 130px;
      padding-bottom: 20px; }
      .header .header_container .burger-logo-elements .logoIcon.openedMenu {
        top: 5%;
        left: 24%; }
    .header .header_container .burger-container-wrapper {
      background: #0D0C0C;
      overflow-x: hidden;
      overflow-y: scroll; }
      .header .header_container .burger-container-wrapper .mobile-header-opened {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 22px 12px 22px;
        background-color: rgba(38, 34, 34, 0.73);
        width: 100%;
        transition: all 0.4s linear; }
        .header .header_container .burger-container-wrapper .mobile-header-opened .burger-logo-elements-mobile {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;
          z-index: 3; }
          .header .header_container .burger-container-wrapper .mobile-header-opened .burger-logo-elements-mobile .burgerIconMobile {
            margin-right: 22px; }
            .header .header_container .burger-container-wrapper .mobile-header-opened .burger-logo-elements-mobile .burgerIconMobile .TopLine {
              width: 24px;
              height: 3px;
              border-radius: 10px;
              background-color: white;
              margin-bottom: 5px;
              cursor: pointer;
              transition: 0.5s linear;
              transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
              transform-style: preserve-3d; }
            .header .header_container .burger-container-wrapper .mobile-header-opened .burger-logo-elements-mobile .burgerIconMobile .MidLine {
              display: none; }
            .header .header_container .burger-container-wrapper .mobile-header-opened .burger-logo-elements-mobile .burgerIconMobile .BotLine {
              width: 24px;
              height: 3px;
              border-radius: 10px;
              background-color: white;
              margin-bottom: 5px;
              cursor: pointer;
              transition: 0.5s linear;
              transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
              transform-style: preserve-3d; }
          .header .header_container .burger-container-wrapper .mobile-header-opened .burger-logo-elements-mobile .logoIcon {
            width: 130px;
            padding-bottom: 20px;
            height: auto;
            display: flex;
            align-items: flex-end; }
        .header .header_container .burger-container-wrapper .mobile-header-opened .language-switcher-mobile .langbtnMobile {
          background-color: transparent;
          color: white;
          border: none;
          font-size: 25px;
          position: relative;
          transition: 0.6s ease-in-out; }
          .header .header_container .burger-container-wrapper .mobile-header-opened .language-switcher-mobile .langbtnMobile:hover {
            color: #81D8D0DE; }
        .header .header_container .burger-container-wrapper .mobile-header-opened .language-switcher-mobile .sub-menu {
          list-style-type: none;
          display: none;
          flex-direction: column;
          padding-left: 0;
          position: absolute;
          right: 30px;
          width: 100px;
          background: rgba(151, 145, 145, 0.06);
          border-radius: 5px;
          z-index: 5; }
          .header .header_container .burger-container-wrapper .mobile-header-opened .language-switcher-mobile .sub-menu.show {
            display: flex; }
          .header .header_container .burger-container-wrapper .mobile-header-opened .language-switcher-mobile .sub-menu li.languageElem {
            font-size: 23px;
            text-align: center;
            width: 100%;
            transition: 0.5s linear;
            color: white; }
            .header .header_container .burger-container-wrapper .mobile-header-opened .language-switcher-mobile .sub-menu li.languageElem.active {
              background: #81D8D094; }
      .header .header_container .burger-container-wrapper .nav-content-container {
        padding: 0 6px 0;
        position: relative !important;
        left: 0 !important;
        top: 14px; }
        .header .header_container .burger-container-wrapper .nav-content-container .nav-items {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #000000; }
          .header .header_container .burger-container-wrapper .nav-content-container .nav-items:nth-last-child(-n+2) {
            font-family: 'Alex Brush';
            font-weight: 400;
            color: #FFFFFF;
            padding: 49px 0; }
            .header .header_container .burger-container-wrapper .nav-content-container .nav-items:nth-last-child(-n+2) a {
              font-size: 43px; }
          .header .header_container .burger-container-wrapper .nav-content-container .nav-items a {
            margin-right: 24px; }
          .header .header_container .burger-container-wrapper .nav-content-container .nav-items .mobile-menu-dress-pic {
            display: block; }
            .header .header_container .burger-container-wrapper .nav-content-container .nav-items .mobile-menu-dress-pic img {
              width: 126px; }

  footer .container .footer-content .SocialMedias .socialsList {
    padding: 0; }
    footer .container .footer-content .SocialMedias .socialsList li {
      margin-right: 20px; } }
@media only screen and (max-width: 376px) {
  .header .header_container .burger-container-wrapper .nav-content-container {
    left: 0 !important; }

  footer .container .footer-content .logoIcon {
    width: 220px; }
  footer .container .footer-content .SocialMedias .socialsList li {
    width: 43px;
    height: 43px;
    margin-right: 15px; } }
body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: 'Rubik', sans-serif; }

h3 {
  font-weight: 600; }

p {
  font-weight: 500; }

li p {
  font-weight: 300; }

h4 {
  font-weight: 400; }

.product {
  margin-top: 91px; }
  .product .prod-container {
    overflow: hidden;
    max-width: 1586px;
    margin-left: 200px;
    margin-right: 37px; }
    .product .prod-container .product-image {
      max-width: 694px;
      height: auto;
      margin-bottom: 94px; }
    .product .prod-container .carousel-mobile-dots {
      display: none; }
      .product .prod-container .carousel-mobile-dots span {
        background: transparent;
        border: 1px solid #FFFEFE;
        width: 19px;
        height: 19px;
        display: inline-block;
        text-align: center;
        margin: 0 29px 0 !important;
        border-radius: 50%; }
        .product .prod-container .carousel-mobile-dots span.active {
          background-color: #81D8D0; }
    .product .prod-container .product-description {
      margin-top: 20px; }
      .product .prod-container .product-description .mob-chevron-button {
        display: none; }
      .product .prod-container .product-description .mobile-price-prod-name .product-name p {
        font-size: 22px;
        color: #5E5E5E;
        margin-bottom: 17px; }
      .product .prod-container .product-description .mobile-price-prod-name .product-name h4 {
        font-size: 30px;
        color: #FFF9F9;
        margin-bottom: 23px; }
      .product .prod-container .product-description .mobile-price-prod-name .price {
        margin-bottom: 39px; }
        .product .prod-container .product-description .mobile-price-prod-name .price p {
          font-weight: 300;
          font-size: 25px;
          color: #FFFFFF; }
      .product .prod-container .product-description .colors-sizes .colors {
        margin-bottom: 39px;
        display: flex; }
        .product .prod-container .product-description .colors-sizes .colors .color-name-mobile {
          display: none; }
        .product .prod-container .product-description .colors-sizes .colors .color.active .color-circle {
          border: 1px solid #81D8D0DE;
          border-radius: 50px;
          padding: 7px; }
        .product .prod-container .product-description .colors-sizes .colors .color .color-name span {
          font-weight: 400;
          font-size: 20px;
          color: #FFFFFF;
          display: block;
          margin-bottom: 10px;
          font-family: 'Rubik';
          font-style: normal; }
        .product .prod-container .product-description .colors-sizes .colors .color .color-circle {
          width: 56px;
          height: 56px;
          display: flex;
          align-items: center;
          margin-right: 45px; }
          .product .prod-container .product-description .colors-sizes .colors .color .color-circle span {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #C9CCD5;
            border-radius: 50%;
            box-sizing: border-box; }
            .product .prod-container .product-description .colors-sizes .colors .color .color-circle span.color-2 {
              background: #D8B69A; }
      .product .prod-container .product-description .colors-sizes .sizes {
        max-width: 616px; }
        .product .prod-container .product-description .colors-sizes .sizes .container-sizes {
          width: 100%;
          border-top: 1px solid #81D8D0DE; }
          .product .prod-container .product-description .colors-sizes .sizes .container-sizes h4 {
            margin-top: 38px;
            font-weight: 300;
            font-size: 28px;
            color: #FFFFFF;
            margin-bottom: 74px; }
          .product .prod-container .product-description .colors-sizes .sizes .container-sizes ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 66px;
            padding: 0; }
            .product .prod-container .product-description .colors-sizes .sizes .container-sizes ul li {
              margin-right: 80px;
              width: 47px;
              height: 47px;
              line-height: 47px;
              background: #101010;
              box-shadow: 0px 3px 16px rgba(253, 239, 239, 0.25);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              margin-bottom: 12px; }
              .product .prod-container .product-description .colors-sizes .sizes .container-sizes ul li p {
                font-family: 'Rubik';
                font-weight: 300;
                font-size: 25px;
                color: #FFFFFF; }
      .product .prod-container .product-description .orderProductButton button {
        border: 1px solid rgba(140, 231, 222, 0.89);
        padding: 24px 94px;
        background: #81D8D0E3;
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 26px;
        transition: 0.3s linear;
        color: rgba(248, 255, 254, 0.87); }
        .product .prod-container .product-description .orderProductButton button:hover {
          border: 1px solid #FFFFFF;
          background: transparent; }
    .product .prod-container .mobile-enable {
      display: none; }
  .product .secondary-information-block .three-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    max-width: 794px; }
    .product .secondary-information-block .three-tabs ul.nav-pills {
      margin-bottom: 74px !important; }
      .product .secondary-information-block .three-tabs ul.nav-pills li.nav-item {
        margin-right: 56px; }
        .product .secondary-information-block .three-tabs ul.nav-pills li.nav-item .nav-link {
          background-color: transparent;
          border-radius: 0;
          color: #FFFFFF;
          border-bottom: 1px solid #FFFFFF;
          transition: 0.3s linear; }
          .product .secondary-information-block .three-tabs ul.nav-pills li.nav-item .nav-link.active {
            padding-bottom: 0;
            border-bottom: 1px solid #81D8D0; }
    .product .secondary-information-block .three-tabs #pills-tabContent .tab-pane#podrobnosti {
      max-height: 600px;
      overflow: hidden; }
      .product .secondary-information-block .three-tabs #pills-tabContent .tab-pane#podrobnosti ul.text-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .product .secondary-information-block .three-tabs #pills-tabContent .tab-pane#podrobnosti ul.text-list li {
          max-width: 345px;
          font-size: 18px;
          margin-bottom: 10px;
          margin-right: 25px;
          color: #F3E9E9; }
    .product .secondary-information-block .three-tabs #pills-tabContent .tab-pane p {
      font-weight: 400;
      font-size: 18px;
      color: #FFFCFC;
      text-align: center; }
  .product .secondary-information-block .additional-images .block-of-images {
    display: flex;
    flex-direction: row; }
    .product .secondary-information-block .additional-images .block-of-images .additional-image {
      margin-bottom: 128px;
      margin-right: 60px;
      max-height: 508px;
      max-width: 400px; }
      .product .secondary-information-block .additional-images .block-of-images .additional-image img {
        height: 100%; }

@media only screen and (max-width: 1025px) {
  .product .prod-container {
    max-width: 1586px;
    margin-left: 150px;
    margin-right: 30px; }
    .product .prod-container .product-description .colors-sizes .sizes .container-sizes h4 {
      margin-bottom: 44px; }
    .product .prod-container .product-description .colors-sizes .sizes .container-sizes ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 36px;
      padding: 0; }
      .product .prod-container .product-description .colors-sizes .sizes .container-sizes ul li {
        margin-right: 12%;
        margin-bottom: 12px; }
    .product .prod-container .product-description .orderProductButton button {
      border: 1px solid rgba(140, 231, 222, 0.89);
      padding: 14px 94px;
      background: #81D8D0E3;
      font-family: 'Rubik', sans-serif;
      font-weight: 300;
      font-size: 26px;
      transition: 0.3s linear;
      color: rgba(248, 255, 254, 0.87); } }
@media only screen and (max-width: 768px) {
  .product {
    margin-top: 61px; }
    .product .prod-container {
      max-width: 1586px;
      margin-left: 50px;
      margin-right: 50px; }

  .product-image {
    margin-top: 81px; }

  .secondary-information-block {
    margin-top: 86px; }

  .product .prod-container .product-description .colors-sizes .sizes .container-sizes ul li {
    margin-right: 9%;
    margin-bottom: 12px; }

  .product .secondary-information-block .additional-images .block-of-images .additional-image {
    margin-bottom: 128px;
    margin-right: 2%;
    max-height: 508px;
    max-width: 50%; } }
@media only screen and (max-width: 426px) {
  .product {
    margin-top: 0; }

  .product-image {
    margin-top: 0; }

  .prod-container {
    margin: 0 !important;
    position: relative; }
    .prod-container .three-tabs {
      margin-bottom: 0 !important; }

  .additional-images {
    display: none; }

  .carousel-mobile-dots {
    display: block !important;
    position: absolute;
    top: 35%;
    right: -15%;
    transform: rotateZ(90deg); }

  .remove-relative {
    position: static; }

  .product-description {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #EFEBEB;
    border-radius: 39px 39px 0 0;
    padding: 15px; }
    .product-description.active {
      top: 8%; }
    .product-description .mob-chevron-button {
      display: flex !important;
      justify-content: center; }
      .product-description .mob-chevron-button .mobile-chevron {
        border: none;
        width: 47px;
        height: 27px; }
        .product-description .mob-chevron-button .mobile-chevron img {
          height: 100%; }

  .secondary-information-block {
    background: #EFEBEB;
    display: none;
    margin-top: 0 !important;
    padding: 0 20px; }
    .secondary-information-block.active {
      display: block;
      position: relative; }

  .mobile-price-prod-name {
    display: flex;
    align-items: flex-end; }
    .mobile-price-prod-name .product-name {
      width: 60%; }
      .mobile-price-prod-name .product-name h4 {
        margin-bottom: 13px !important; }
      .mobile-price-prod-name .product-name p {
        font-size: 16px !important;
        margin-bottom: 2px; }
    .mobile-price-prod-name .price {
      width: 40%;
      text-align: right; }
      .mobile-price-prod-name .price p {
        font-weight: 500 !important;
        color: #30877F !important;
        font-size: 25px; }

  .colors {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px !important; }
    .colors .color {
      width: 15%; }
      .colors .color .color-name span {
        font-size: 14px !important;
        color: #606564 !important;
        font-weight: 400 !important; }
      .colors .color .color-circle {
        width: 42px !important;
        height: 42px !important;
        border-radius: 50%; }
        .colors .color .color-circle span {
          width: 26px !important;
          height: 26px !important; }
    .colors .color-name-mobile {
      margin-right: 15px;
      display: block !important; }
      .colors .color-name-mobile p {
        color: #4C5251;
        font-size: 16px;
        font-weight: 300; }

  .sizes .container-sizes {
    display: flex;
    border-top: none !important;
    margin-bottom: 0; }
    .sizes .container-sizes h4 {
      font-size: 16px !important;
      color: #4C5251 !important;
      margin: 0 !important; }
    .sizes .container-sizes ul {
      width: 80%;
      margin-bottom: 0 !important; }
      .sizes .container-sizes ul li {
        width: 31px !important;
        height: 31px !important;
        line-height: 31px !important;
        background: #EFEBEB !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important; }
        .sizes .container-sizes ul li p {
          font-size: 19px !important;
          color: rgba(79, 91, 90, 0.87) !important; }

  .orderProductButton {
    display: none !important; }
    .orderProductButton.active {
      display: block !important; }
    .orderProductButton .order-btn {
      background: #639A95;
      border-radius: 16px;
      width: 100%;
      padding: 8px 24px; }

  .three-tabs ul {
    list-style: none;
    padding: 0; }

  .three-tabs ul li {
    margin-bottom: 10px; }

  .tab-pane {
    display: none; }

  .tab-pane.active {
    display: block; }

  .item-wrapper p {
    color: #5E5959; }
  .item-wrapper li.nav-item {
    list-style: none; }
    .item-wrapper li.nav-item a {
      color: #000000;
      font-size: 16px !important; }
  .item-wrapper ul {
    list-style-type: disc; }

  .col-md-6, .col-12 {
    margin: 0 !important;
    padding: 0; } }

/*# sourceMappingURL=product.css.map */
