
body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: 'Alex Brush', cursive;
  font-family: 'Rubik', sans-serif;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 500;
}

li {
  p {
    font-weight: 300;
  }
}

h4 {
  font-weight: 400;
}

.header {
  padding: 12px 52px 12px 52px;
  background-color: rgba(38, 34, 34, 0.73);
  width: 100%;
  transition: all 0.4s linear;

  &.sticky-nav {
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .burger-logo-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 3;


    .burgerIcon {
      margin-right: 46px;

      &.openedMenu {
        position: fixed;
        z-index: 4;
        top: 9%;
      }

      .TopLine, .BotLine, .MidLine {
        width: 24px;
        height: 3px;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 5px;
        cursor: pointer;
        transition: 0.5s linear;
      }

      .TopLine.openedMenu {
        transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
        transform-style: preserve-3d;

      }

      .BotLine.openedMenu {
        transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
        transform-style: preserve-3d;
      }

      .MidLine {
        width: 13px;

        &.openedMenu {
          display: none;
        }
      }
    }

    .logoIcon {
      width: 200px;
      height: auto;
      display: flex;
      align-items: flex-end;
      padding-bottom: 26px;


      &.openedMenu {
        position: fixed;
        z-index: 4;
        left: 7%;
        top: 3%;
      }

      a {
        max-width: 100%;
        height: 100%;

        img {
          max-width: 100%;
          height: 100%;
        }
      }
    }
  }

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .burger-container-wrapper {
      position: fixed;
      display: none;
      height: 100%;
      max-width: 450px;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #050505E8;

      .mobile-header-opened {
        display: none;
      }

      .nav-content-container {
        position: absolute;
        list-style-type: none;
        top: 124px;
        left: 61px;

        .nav-items {
          margin-bottom: 25px;
          cursor: pointer;

          .mobile-menu-dress-pic {
            display: none;
          }

          a {
            font-size: 34px;
            color: #F6FCFB;
            animation: ease-out 300ms;

            &:hover {
              color: #81d8d0;
              text-decoration: none;
            }
          }
        }
      }

      &.openedMenu {
        display: block;
      }
    }

    .language-switcher {
      .langbtn {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 25px;
        position: relative;
        transition: 0.6s ease-in-out;

        &:hover {
          color: #81D8D0DE;
        }
      }

      .sub-menu {
        list-style-type: none;
        display: none;
        flex-direction: column;
        padding-left: 0;
        position: absolute;
        right: 30px;
        width: 100px;

        background: rgba(151, 145, 145, 0.06);
        border-radius: 5px;
        z-index: 5;

        &.show {
          display: flex;
        }


        li {
          font-size: 23px;
          text-align: center;
          width: 100%;
          transition: 0.5s linear;
          color: white;

          &:hover {
            background: #81D8D094;
          }

          &.active {
            background: #81D8D094;
          }
        }
      }
    }

  }
}


.CarouselSection {
  margin-bottom: 151px;

  .owl-carousel {
    .slide {
      transform: rotate(-360deg);

      &.secondsl {
        .row {
          padding-top: 43px;
          padding-bottom: 43px;
        }

        .rightSlidePart {
          .modelImage img {
          }
        }
      }

      .leftSlidePart {
        .slideHeading {
          max-width: 538px;

          h3 {
            color: #F6FCFB;
            margin-bottom: 72px;
          }

          p {
            color: #FAEFEF;
            margin-bottom: 123px;
          }

          .moreBtn {
            color: #FFFAFA;
            border: 1px solid #81D8D0;
            border-radius: 50px;
            padding: 15px 70px 15px 70px;
            transition: linear 300ms;

            &:hover {
              background-color: #81d8d0;
              text-decoration: none;

            }
          }
        }
      }

      .rightSlidePart {
        position: relative;

        .gradientBlock {
          position: absolute;
          top: 25%;
          right: 27%;
          z-index: 0;
          background: rgba(255, 253, 253, 0.49);
          filter: blur(107.5px);
          width: 250px;
          height: 250px;
        }

        .modelImage {
          position: relative;
          z-index: 1;
          height: 569px;
          margin-top: 29px;
        }

        .buyButton {
          .circle {
            position: absolute;
            width: 264px;
            height: 264px;
            top: 50%;
            left: 55%;
            z-index: 4;
            background: #81D8D08F;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: 0.3s linear;
            font-weight: 600;

            &:hover {
              background: rgba(129, 216, 208, 0.75);

              a {
                text-decoration: none;
                transform: scale(1.5);
              }
            }

            a {
              color: #FFFFFF;
              font-size: 25px;
              text-align: center;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
    }


    .owl-dots {
      transform: rotate(90deg);
      position: absolute;
      bottom: 38px;
      left: -7%;
      bottom: 54%;

      span {
        width: 14px;
        height: 14px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #FFFEFE;
        display: inline-block;
        transition: 0.3s;
      }

      & .active span {
        background-color: #81D8D0;
        border: 1px solid #FFFEFE;
        width: 14px;
        height: 14px;
        display: inline-block;
        text-align: center;

      }

      button:nth-child(2) {
        margin: 0 0 0 99px;
      }

      button:nth-child(3) {
        margin: 0 99px 0 99px;
      }
    }
  }

}

.ItemsInStock {
  .container {
    .filters-mobile {
      display: none;
    }

    ul {
      margin-bottom: 52px !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      li.nav-item {
        margin-right: 78px;


        &:last-of-type {
          margin-right: 0;
        }

        button.nav-link {
          background-color: transparent;
          border-radius: 0;
          color: #FFFFFF;
          border-bottom: 1px solid #FFFFFF;
          transition: 0.3s linear;

          &.active {
            background-color: transparent;
            border-radius: 0;
            padding-bottom: 0;
            border-bottom: 1px solid #0DFCE6;
          }
        }
      }
    }

    #pills-tabContent {
      margin-bottom: 190px;

      .product-cards-cont {
        .product-card {
          position: relative;
          margin-bottom: 125px;

          &.hidden-prod {
            display: none;
          }

          .shownCards {
            display: block;
          }

          &:hover .product-overlay {
            opacity: 1;
          }

          .product-image {
            max-width: 340px;
            position: relative;
            width: 100%;
          }

          .product-overlay {
            width: 100%;
            position: absolute;
            top: 60%;
            padding: 18px 30px;
            background: #101010C2;
            opacity: 0;
            color: white;
            height: 40%;
            transition: opacity 0.4s ease-in-out;

            .product-heading {
              max-width: 100%;
              margin-bottom: 15px;

              p {
                margin-bottom: 5px !important;
                color: #5E5E5E;
              }

              h4 {
                color: #FFF9F9;
              }
            }

            .price-sizes-container {
              .price p {
                font-size: 13px;
                font-weight: 300;
              }

              .divider {
                border-left: 1px solid #FFF9F9;
              }

              .sizes {
                padding-left: 20px;

                h4 {
                  font-size: 16px;
                  margin-bottom: 14px;
                  color: #5E5E5E;
                }

                ul {
                  list-style-type: none;
                  display: flex;
                  flex-wrap: wrap;
                  flex-direction: row;
                  padding-left: 0 !important;
                  margin-bottom: 0 !important;

                  li {
                    margin-right: 14px;
                    max-height: 22px;
                  }
                }
              }
            }
          }
        }
      }

      button.load-more {
        background-color: transparent;
        padding: 8px 12px;
        color: #FFF9F9;
        border: 1px solid #81D8D0;
        text-transform: uppercase;
        transition: 0.5s linear;

        &:hover {
          background-color: #81D8D0;
        }
      }
    }
  }
}


footer {
  border-top: 1px solid #FFFFFF;
  margin-bottom: 94px;


  .container {
    padding-top: 19px;


    .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .logoIcon {
        width: 340px;
        height: auto;
        margin-bottom: 58px;
      }

      .SocialMedias {

        .socialsList {
          list-style-type: none;

          li {
            margin-right: 60px;
            height: 53px;
            width: 53px;
            transition: 0.3s linear;

            &:hover {
              transform: translateY(-5px);
            }
          }
        }
      }
    }
  }

}