body {
  margin: 0;
  padding: 0;
  background-color: #101010;
}

.header {
  padding: 12px 52px 12px 52px;
  background-color: rgba(38, 34, 34, 0.73);
  width: 100%;

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .burger-logo-elements {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      z-index: 3;


      .burgerIcon {
        margin-right: 46px;
        &.openedMenu{
          position: fixed;
          z-index: 4;
        }

        .TopLine, .BotLine, .MidLine {
          width: 24px;
          height: 3px;
          border-radius: 10px;
          background-color: white;
          margin-bottom: 5px;
          cursor: pointer;
          transition: 0.5s linear;
        }

        .TopLine.openedMenu {
          transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
          transform-style: preserve-3d;

        }

        .BotLine.openedMenu {
          transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
          transform-style: preserve-3d;
        }

        .MidLine {
          width: 13px;

          &.openedMenu {
            display: none;
          }
        }
      }

      .logoIcon {
        width: 200px;
        height: auto;
        display: flex;
        align-items: flex-end;
        padding-bottom: 26px;


        &.openedMenu{
          position: fixed;
          z-index: 4;
          left: 7%;
          top: 3%;
        }

        a {
          max-width: 100%;
          height: 100%;

          img {
            max-width: 100%;
            height: 100%;
          }
        }
      }
    }

    .burger-container-wrapper {
      position: fixed;
      display: none;
      height: 100%;
      max-width: 450px;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #050505E8;


      .nav-content-container {
        position: absolute;
        list-style-type: none;
        top: 124px;
        left: 61px;

        .nav-items {
          margin-bottom: 25px;
          cursor: pointer;

          a {
            font-size: 34px;
            color: #F6FCFB;
            animation: ease-out 300ms;

            &:hover {
              color: #81d8d0;
              text-decoration: none;
            }
          }
        }
      }

      &.openedMenu {
        display: block;
      }
    }

    .language-switcher {
      .langbtn {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 25px;
      }

      .languageCont {
        list-style-type: none;
        li{
          display: none;
        }
      }
    }

  }
}

.CarouselSection {
  .owl-carousel {
    .slide {

      .leftSlidePart {
        .slideHeading {
          max-width: 538px;

          h3 {
            color: #F6FCFB;
            margin-bottom: 72px;
          }

          p {
            color: #FAEFEF;
            margin-bottom: 123px;
          }

          .moreBtn {
            color: #FFFAFA;
            border: 1px solid #81D8D0;
            border-radius: 50px;
            padding: 15px 70px 15px 70px;
            transition: linear 300ms;

            &:hover {
              background-color: #81d8d0;
              text-decoration: none;

            }
          }
        }
      }

      .rightSlidePart {
        position: relative;

        .gradientBlock {
          position: absolute;
          top: 25%;
          right: 27%;
          z-index: 0;
          background: rgba(255, 253, 253, 0.49);
          filter: blur(107.5px);
          width: 250px;
          height: 250px;
        }

        .modelImage {
          position: relative;
          z-index: 1;
        }

        .buyButton {
          .circle {
            position: absolute;
            width: 264px;
            height: 264px;
            top: 55%;
            left: 55%;
            z-index: 4;
            background: #81D8D08F;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: 0.3s linear;

            &:hover{
              background: rgba(129, 216, 208, 0.75);

              a{
                text-decoration: none;
                transform: scale(1.5);
              }
            }

            a {
              color: #FFFFFF;
              font-size: 25px;
              text-align: center;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }

}