@import "./disable.css";
@import "./header-footer.css";
@import "./about-me.css";
body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: "Rubik", sans-serif;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
}

p {
  font-weight: 500;
}

li p {
  font-weight: 300;
}

a {
  text-decoration: none;
}

.CarouselSection {
  margin-bottom: 9.4375rem;
}
.CarouselSection .owl-carousel .slide {
  transform: rotate(-360deg);
}
.CarouselSection .owl-carousel .slide.secondsl .row {
  padding: 2.6875rem 0;
}
.CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading {
  max-width: 33.625rem;
}
.CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading h3 {
  color: #F6FCFB;
  margin-bottom: 4.5rem;
}
.CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading p {
  color: #FAEFEF;
  margin-bottom: 7.6875rem;
}
.CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading .moreBtn {
  color: #FFFAFA;
  border: 0.0625rem solid #81D8D0;
  border-radius: 3.125rem;
  padding: 0.9375rem 4.375rem;
  transition: linear 300ms;
}
.CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading .moreBtn:hover {
  background-color: #81d8d0;
  text-decoration: none;
}
.CarouselSection .owl-carousel .slide .rightSlidePart {
  position: relative;
}
.CarouselSection .owl-carousel .slide .rightSlidePart .gradientBlock {
  position: absolute;
  top: 25%;
  right: 27%;
  z-index: 0;
  background: rgba(255, 253, 253, 0.49);
  filter: blur(6.71875rem);
  width: 15.625rem;
  height: 15.625rem;
}
.CarouselSection .owl-carousel .slide .rightSlidePart .modelImage {
  position: relative;
  z-index: 1;
  height: 35.5625rem;
  margin-top: 1.8125rem;
}
.CarouselSection .owl-carousel .slide .rightSlidePart .buyButton .circle {
  position: absolute;
  top: 50%;
  left: 55%;
  z-index: 4;
  width: 16.5rem;
  height: 16.5rem;
  background: rgba(129, 216, 208, 0.56);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s linear;
  font-weight: 600;
}
.CarouselSection .owl-carousel .slide .rightSlidePart .buyButton .circle:hover {
  background: rgba(129, 216, 208, 0.75);
}
.CarouselSection .owl-carousel .slide .rightSlidePart .buyButton .circle:hover a {
  text-decoration: none;
  transform: scale(1.5);
}
.CarouselSection .owl-carousel .slide .rightSlidePart .buyButton .circle a {
  color: #FFFFFF;
  font-size: 1.5625rem;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.CarouselSection .owl-carousel .owl-dots {
  transform: rotate(90deg);
  position: absolute;
  left: -7%;
  bottom: 54%;
}
.CarouselSection .owl-carousel .owl-dots span {
  width: 0.875rem;
  height: 0.875rem;
  background-color: transparent;
  border-radius: 50%;
  border: 0.0625rem solid #FFFEFE;
  display: inline-block;
  transition: 0.3s;
}
.CarouselSection .owl-carousel .owl-dots .active span {
  background-color: #81D8D0;
  border-color: #FFFEFE;
  width: 0.875rem;
  height: 0.875rem;
  display: inline-block;
  text-align: center;
}
.CarouselSection .owl-carousel .owl-dots button:nth-child(2) {
  margin-left: 6.1875rem;
}
.CarouselSection .owl-carousel .owl-dots button:nth-child(3) {
  margin: 0 6.1875rem;
}

.ItemsInStock .container .filters-mobile {
  display: none;
}
.ItemsInStock .container ul {
  margin-bottom: 3.25rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ItemsInStock .container ul li.nav-item {
  margin-right: 4.875rem;
}
.ItemsInStock .container ul li.nav-item:last-of-type {
  margin-right: 0;
}
.ItemsInStock .container ul li.nav-item button.nav-link {
  background-color: transparent;
  border-radius: 0;
  color: #FFFFFF;
  border-bottom: 0.0625rem solid #FFFFFF;
  transition: 0.3s linear;
}
.ItemsInStock .container ul li.nav-item button.nav-link.active {
  padding-bottom: 0;
  border-bottom-color: #0DFCE6;
}
.ItemsInStock .container #pills-tabContent {
  margin-bottom: 11.875rem;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont p.no-products-message {
  color: #FFFFFF;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card {
  position: relative;
  margin-bottom: 7.8125rem;
  height: 32.5rem;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card.hide-card {
  display: none;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .shownCards {
  display: block;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card:hover .product-overlay {
  opacity: 1;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-image {
  max-width: 21.25rem;
  width: 100%;
  height: 32.5rem;
  overflow: hidden;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 50%;
  padding: 1.125rem 1.875rem;
  background: rgba(16, 16, 16, 0.76);
  opacity: 0;
  color: #FFFFFF;
  transition: opacity 0.4s ease-in-out;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading {
  max-width: 100%;
  margin-bottom: 0.9375rem;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading p {
  margin-bottom: 0.3125rem !important;
  color: #5E5E5E;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading h4 {
  color: #FFF9F9;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .price-sizes-container .price p {
  font-size: 0.8125rem;
  font-weight: 300;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .price-sizes-container .divider {
  border-left: 0.0625rem solid #FFF9F9;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .price-sizes-container .sizes {
  padding-left: 1.25rem;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .price-sizes-container .sizes h4 {
  font-size: 1rem;
  margin-bottom: 0.875rem;
  color: #5E5E5E;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .price-sizes-container .sizes ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .price-sizes-container .sizes ul li {
  margin-right: 0.875rem;
  max-height: 1.375rem;
}
.ItemsInStock .container #pills-tabContent button.load-more {
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  color: #FFF9F9;
  border: 0.0625rem solid #81D8D0;
  text-transform: uppercase;
  transition: 0.5s linear;
}
.ItemsInStock .container #pills-tabContent button.load-more:hover {
  background-color: #81D8D0;
}

/*Media querries*/
@media only screen and (max-width: 2570px) {
  .CarouselSection .owl-carousel .owl-dots {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    bottom: 54%;
    left: -4%;
  }
}
@media only screen and (max-width: 1356px) {
  .CarouselSection .owl-carousel .owl-dots {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    left: -9% !important;
  }
}
@media only screen and (max-width: 1300px) {
  .CarouselSection .owl-carousel .owl-dots {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    bottom: 54%;
    left: -11%;
  }
}
@media only screen and (max-width: 1230px) {
  .CarouselSection .owl-carousel .owl-dots {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    left: -13% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .CarouselSection .owl-carousel .slide .rightSlidePart .buyButton .circle {
    left: 43%;
    top: 43%;
  }
  .CarouselSection .owl-carousel .owl-dots {
    left: -15%;
  }
  .ItemsInStock #pills-tabContent .product-cards-cont .product-card .product-overlay {
    padding: 1.125rem 1.375rem !important;
    top: 50% !important;
    height: 50% !important;
  }
  .ItemsInStock #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading {
    margin-bottom: 0.625rem !important;
  }
  .ItemsInStock #pills-tabContent .product-cards-cont .product-card .product-image {
    max-width: 17.5rem !important;
    width: 100%;
  }
  .ItemsInStock .container ul li.nav-item {
    margin-right: 3.125rem;
  }
}
@media only screen and (max-width: 768px) {
  .CarouselSection .owl-carousel .slide {
    padding: 2.6875rem 0;
    overflow: hidden;
  }
  .CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading h3 {
    margin-bottom: 2.625rem;
  }
  .CarouselSection .owl-carousel .slide .leftSlidePart .slideHeading p {
    margin-bottom: 5.8125rem;
  }
  .CarouselSection .owl-carousel .slide .rightSlidePart .modelImage {
    height: 100%;
  }
  .CarouselSection .owl-carousel .slide .rightSlidePart .buyButton .circle {
    left: 38%;
    top: 43%;
    width: 12.75rem;
    height: 12.75rem;
  }
  .CarouselSection .owl-carousel .owl-dots {
    left: -21% !important;
    bottom: 56% !important;
  }
  .ItemsInStock .container ul.filters-mobile li.nav-item {
    margin-right: 2.5rem;
  }
}
@media only screen and (max-width: 440px) {
  .less-col-pd {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .CarouselSection {
    margin-bottom: 1.375rem;
  }
  .CarouselSection .owl-carousel .slide {
    padding-bottom: 5.1875rem;
  }
  .CarouselSection .owl-carousel .slide .leftSlidePart {
    width: 50%;
  }
  .CarouselSection .owl-carousel .slide .leftSlidePart h3 {
    margin-bottom: 1.0625rem !important;
  }
  .CarouselSection .owl-carousel .slide .leftSlidePart p {
    margin-bottom: 1.5625rem !important;
  }
  .CarouselSection .owl-carousel .slide .rightSlidePart {
    width: 50%;
  }
  .CarouselSection .owl-carousel .slide .rightSlidePart .gradientBlock {
    width: 2.125rem !important;
    height: 3.375rem !important;
  }
  .CarouselSection .owl-carousel .slide .rightSlidePart .modelImage {
    height: 13.6875rem !important;
    margin-top: 1.8125rem;
    width: 12.9375rem;
  }
  .CarouselSection .owl-carousel .slide .rightSlidePart .buyButton {
    display: none;
  }
  .CarouselSection .owl-carousel .owl-dots {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    position: relative;
    bottom: 0 !important;
    left: 0 !important;
    display: flex;
    justify-content: center;
  }
  .CarouselSection .owl-carousel .owl-dots button {
    margin: 0 1.8125rem 0 !important;
  }
  .CarouselSection .moreBtn {
    margin-bottom: 2.9375rem;
    padding: 0.75rem 2.1875rem !important;
  }
  .ItemsInStock {
    padding-top: 2rem;
  }
  .ItemsInStock .container {
    position: relative;
  }
  .ItemsInStock .container .filters-mobile {
    display: block;
    position: relative;
  }
  .ItemsInStock .container .filters-mobile img {
    transition: 0.3s linear;
  }
  .ItemsInStock .container .filters-mobile.show-mobile img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .ItemsInStock .container .filters-mobile button.filtersClick {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 0.5rem;
    width: 14rem;
    position: relative;
    border: none;
    background: none;
    color: #FFFFFF;
    text-transform: uppercase;
    gap: 0.5rem;
  }
  .ItemsInStock .container .filters-mobile button.filtersClick.show-mobile {
    background: #527471;
    border-radius: 0.625rem 0.625rem 0 0;
  }
  .ItemsInStock .container .filters-mobile button.filtersClick span {
    text-align: left;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.25rem;
  }
  .ItemsInStock .container ul.filters-mobile-cont {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 14rem;
    display: none;
    border-radius: 0 0 0.625rem 0.625rem;
    z-index: 10;
    padding-left: 0.625rem;
    padding-right: 1.9375rem;
    margin-bottom: 0 !important;
  }
  .ItemsInStock .container ul.filters-mobile-cont li.nav-item {
    margin: 0;
    padding: 0.625rem 0;
  }
  .ItemsInStock .container ul.filters-mobile-cont li.nav-item button {
    text-align: left;
    border-bottom: none !important;
    margin: 0;
    padding: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
  }
  .ItemsInStock .container ul.filters-mobile-cont.show-mobile {
    display: flex !important;
    background: #363333;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card {
    margin-bottom: 2.9375rem;
    overflow: hidden;
    height: 16.25rem !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-image {
    max-width: 10.4375rem !important;
    height: 16.25rem !important;
    width: 100% !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay {
    top: 45% !important;
    height: 56% !important;
    padding: 0.3125rem !important;
    opacity: 1 !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .divider {
    border-left: 0.0625rem solid #FFFFFF;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading {
    margin-top: 0.9375rem;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading h4 {
    font-size: 0.89rem;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading p {
    display: none;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .right-side {
    display: flex;
    align-items: center;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .right-side .price p {
    font-size: 0.95rem;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .sizes {
    padding-left: 0 !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .sizes h4 {
    margin-top: 0;
    margin-bottom: 0.375rem !important;
    font-size: 0.75rem !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .sizes ul li {
    font-size: 0.5625rem;
    margin-right: 0.3125rem !important;
  }
}
@media only screen and (max-width: 376px) {
  .CarouselSection {
    margin-bottom: 0 !important;
  }
  .CarouselSection .owl-carousel .rightSlidePart .modelImage {
    width: 11.3125rem !important;
  }
  .CarouselSection .owl-carousel .leftSlidePart .moreBtn {
    padding: 0.75rem 1.1875rem !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-image {
    max-width: 8.9375rem !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay {
    top: 36% !important;
    height: 64% !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .right-side p {
    font-size: 0.82rem !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .product-heading h4 {
    margin-top: 0.1875rem !important;
    margin-bottom: 0.125rem !important;
  }
}
@media only screen and (max-width: 361px) {
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-image {
    width: 8.4375rem !important;
  }
  .CarouselSection .owl-carousel .slide {
    padding-bottom: 3rem;
  }
  .CarouselSection .owl-carousel .slide .leftSlidePart .moreBtn {
    padding: 0.75rem 0.5rem !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .sizes h4 {
    font-size: 0.64rem !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .right-side p {
    font-size: 0.61rem !important;
  }
  .ItemsInStock .container #pills-tabContent .product-cards-cont .product-card .product-overlay .right-side .product-heading h4 {
    font-size: 0.79rem;
  }
}

/*# sourceMappingURL=style.css.map */
